In [1]:
a=5
print(a)

5

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
Apple = yf.download("AAPL",start="2010-01-01",end="2023-01-01")

[*********************100%%**********************]  1 of 1 completed

In [4]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.487533,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.498751,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.395380,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.383556,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.425995,447610800
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.299820,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,129.477585,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.504539,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.059372,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.378006,77034200

In [5]:
reliance = yf.download("Reliance",start="2010-01-01",end="2023-05-05")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['RELIANCE']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [6]:
reliance = yf.download("RELIANCE.NS",start="2010-01-01",end="2023-05-05")

[*********************100%%**********************]  1 of 1 completed

In [7]:
reliance

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,540.427307,540.427307,506.127411,532.700500,481.112885,35372156
2010-01-05,569.551208,569.551208,527.697937,530.323059,478.965698,9872785
2010-01-06,534.879883,542.111328,530.298279,538.891846,486.704773,10933743
2010-01-07,538.891846,552.265076,533.938782,547.832092,494.779205,12090336
2010-01-08,548.797974,551.670715,542.854309,546.395691,493.481873,6973331
...,...,...,...,...,...,...
2023-04-27,2375.000000,2384.000000,2364.000000,2377.050049,2368.682861,4230627
2023-04-28,2382.000000,2423.899902,2381.750000,2420.500000,2411.979736,7183342
2023-05-02,2436.199951,2445.800049,2428.100098,2441.050049,2432.457520,5991101
2023-05-03,2445.000000,2445.000000,2413.050049,2420.100098,2411.581299,3259053
2023-05-04,2421.149902,2452.850098,2414.600098,2448.000000,2439.383057,3985159

In [8]:
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [9]:
ticker=["RELIANCE.NS","TATAMOTORS.NS","HDFCBANK.NS"]

In [10]:
stocks = yf.download(ticker,start="2010-01-01",end="2023-05-05")

[*********************100%%**********************]  3 of 3 completed

2 Failed downloads:
['TATAMOTORS.NS', 'RELIANCE.NS']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2010-01-01 -> 2023-05-05)')

In [11]:
stocks

              Adj Close                                  Close              \
            HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS RELIANCE.NS
Date
2010-01-04   153.989563         NaN           NaN   170.570007         NaN
2010-01-05   154.124969         NaN           NaN   170.720001         NaN
2010-01-06   154.228821         NaN           NaN   170.835007         NaN
2010-01-07   154.630539         NaN           NaN   171.279999         NaN
2010-01-08   154.833664         NaN           NaN   171.505005         NaN
...                 ...         ...           ...          ...         ...
2023-04-27  1661.941040         NaN           NaN  1681.000000         NaN
2023-04-28  1668.466187         NaN           NaN  1687.599976         NaN
2023-05-02  1668.120117         NaN           NaN  1687.250000         NaN
2023-05-03  1673.953247         NaN           NaN  1693.150024         NaN
2023-05-04  1708.210449         NaN           NaN  1727.800049         NaN

                                 High                                    Low  \
           TATAMOTORS.NS  HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
Date
2010-01-04           NaN   172.850006         NaN           NaN   169.255005
2010-01-05           NaN   172.500000         NaN           NaN   170.500000
2010-01-06           NaN   172.000000         NaN           NaN   168.809998
2010-01-07           NaN   176.839996         NaN           NaN   170.160004
2010-01-08           NaN   172.339996         NaN           NaN   170.100006
...                  ...          ...         ...           ...          ...
2023-04-27           NaN  1685.250000         NaN           NaN  1665.849976
2023-04-28           NaN  1691.000000         NaN           NaN  1670.000000
2023-05-02           NaN  1699.000000         NaN           NaN  1682.000000
2023-05-03           NaN  1696.000000         NaN           NaN  1679.650024
2023-05-04           NaN  1734.449951         NaN           NaN  1687.099976

                                             Open                            \
           RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2010-01-04         NaN           NaN   170.000000         NaN           NaN
2010-01-05         NaN           NaN   171.000000         NaN           NaN
2010-01-06         NaN           NaN   171.399994         NaN           NaN
2010-01-07         NaN           NaN   176.839996         NaN           NaN
2010-01-08         NaN           NaN   171.199997         NaN           NaN
...                ...           ...          ...         ...           ...
2023-04-27         NaN           NaN  1670.500000         NaN           NaN
2023-04-28         NaN           NaN  1684.699951         NaN           NaN
2023-05-02         NaN           NaN  1688.699951         NaN           NaN
2023-05-03         NaN           NaN  1684.949951         NaN           NaN
2023-05-04         NaN           NaN  1687.099976         NaN           NaN

                Volume
           HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2010-01-04     3050490         NaN           NaN
2010-01-05     8386600         NaN           NaN
2010-01-06     6639840         NaN           NaN
2010-01-07     6123980         NaN           NaN
2010-01-08     7085900         NaN           NaN
...                ...         ...           ...
2023-04-27    23895196         NaN           NaN
2023-04-28    13958136         NaN           NaN
2023-05-02    16110592         NaN           NaN
2023-05-03    14703635         NaN           NaN
2023-05-04    28427319         NaN           NaN

[3291 rows x 18 columns]

In [12]:
stocks

              Adj Close                                  Close              \
            HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS RELIANCE.NS
Date
2010-01-04   153.989563         NaN           NaN   170.570007         NaN
2010-01-05   154.124969         NaN           NaN   170.720001         NaN
2010-01-06   154.228821         NaN           NaN   170.835007         NaN
2010-01-07   154.630539         NaN           NaN   171.279999         NaN
2010-01-08   154.833664         NaN           NaN   171.505005         NaN
...                 ...         ...           ...          ...         ...
2023-04-27  1661.941040         NaN           NaN  1681.000000         NaN
2023-04-28  1668.466187         NaN           NaN  1687.599976         NaN
2023-05-02  1668.120117         NaN           NaN  1687.250000         NaN
2023-05-03  1673.953247         NaN           NaN  1693.150024         NaN
2023-05-04  1708.210449         NaN           NaN  1727.800049         NaN

                                 High                                    Low  \
           TATAMOTORS.NS  HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
Date
2010-01-04           NaN   172.850006         NaN           NaN   169.255005
2010-01-05           NaN   172.500000         NaN           NaN   170.500000
2010-01-06           NaN   172.000000         NaN           NaN   168.809998
2010-01-07           NaN   176.839996         NaN           NaN   170.160004
2010-01-08           NaN   172.339996         NaN           NaN   170.100006
...                  ...          ...         ...           ...          ...
2023-04-27           NaN  1685.250000         NaN           NaN  1665.849976
2023-04-28           NaN  1691.000000         NaN           NaN  1670.000000
2023-05-02           NaN  1699.000000         NaN           NaN  1682.000000
2023-05-03           NaN  1696.000000         NaN           NaN  1679.650024
2023-05-04           NaN  1734.449951         NaN           NaN  1687.099976

                                             Open                            \
           RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2010-01-04         NaN           NaN   170.000000         NaN           NaN
2010-01-05         NaN           NaN   171.000000         NaN           NaN
2010-01-06         NaN           NaN   171.399994         NaN           NaN
2010-01-07         NaN           NaN   176.839996         NaN           NaN
2010-01-08         NaN           NaN   171.199997         NaN           NaN
...                ...           ...          ...         ...           ...
2023-04-27         NaN           NaN  1670.500000         NaN           NaN
2023-04-28         NaN           NaN  1684.699951         NaN           NaN
2023-05-02         NaN           NaN  1688.699951         NaN           NaN
2023-05-03         NaN           NaN  1684.949951         NaN           NaN
2023-05-04         NaN           NaN  1687.099976         NaN           NaN

                Volume
           HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2010-01-04     3050490         NaN           NaN
2010-01-05     8386600         NaN           NaN
2010-01-06     6639840         NaN           NaN
2010-01-07     6123980         NaN           NaN
2010-01-08     7085900         NaN           NaN
...                ...         ...           ...
2023-04-27    23895196         NaN           NaN
2023-04-28    13958136         NaN           NaN
2023-05-02    16110592         NaN           NaN
2023-05-03    14703635         NaN           NaN
2023-05-04    28427319         NaN           NaN

[3291 rows x 18 columns]

In [13]:
stocks = yf.download(ticker,start="2020-01-01",end="2023-05-05")

[*********************100%%**********************]  3 of 3 completed

In [14]:
stocks

              Adj Close                                   Close               \
            HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS
Date
2020-01-01  1244.189819  1475.384033    183.876907  1278.599976  1495.424927
2020-01-02  1252.120361  1500.501587    193.148010  1286.750000  1520.883545
2020-01-03  1234.264282  1502.309692    190.506256  1268.400024  1522.716187
2020-01-06  1207.552856  1467.467651    185.073181  1240.949951  1487.400879
2020-01-07  1226.674072  1490.044189    184.126129  1260.599976  1510.284058
...                 ...          ...           ...          ...          ...
2023-04-27  1661.941040  2368.682861    480.103668  1681.000000  2377.050049
2023-04-28  1668.466187  2411.979736    483.443268  1687.599976  2420.500000
2023-05-02  1668.120117  2432.457520    478.757843  1687.250000  2441.050049
2023-05-03  1673.953247  2411.581299    482.197144  1693.150024  2420.100098
2023-05-04  1708.210449  2439.383057    479.306122  1727.800049  2448.000000

                                 High                                     Low  \
           TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
Date
2020-01-01    184.449997  1280.000000  1512.760498    186.699997  1270.599976
2020-01-02    193.750000  1288.000000  1526.480469    194.699997  1279.000000
2020-01-03    191.100006  1285.000000  1527.173950    195.649994  1263.599976
2020-01-06    185.649994  1261.800049  1513.552979    191.000000  1236.000000
2020-01-07    184.699997  1271.449951  1520.091064    189.399994  1252.250000
...                  ...          ...          ...           ...          ...
2023-04-27    481.600006  1685.250000  2384.000000    482.000000  1665.849976
2023-04-28    484.950012  1691.000000  2423.899902    488.000000  1670.000000
2023-05-02    480.250000  1699.000000  2445.800049    484.000000  1682.000000
2023-05-03    483.700012  1696.000000  2445.000000    485.100006  1679.650024
2023-05-04    480.799988  1734.449951  2452.850098    486.399994  1687.099976

                                              Open                             \
            RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS
Date
2020-01-01  1491.363403    183.600006  1276.099976  1503.745972    185.149994
2020-01-02  1497.802368    184.600006  1279.000000  1497.802368    185.000000
2020-01-03  1508.699097    189.250000  1282.199951  1518.605103    192.899994
2020-01-06  1483.933838    185.050003  1260.000000  1505.727173    191.000000
2020-01-07  1499.288208    182.300003  1258.900024  1504.736572    187.000000
...                 ...           ...          ...          ...           ...
2023-04-27  2364.000000    476.500000  1670.500000  2375.000000    478.500000
2023-04-28  2381.750000    478.350006  1684.699951  2382.000000    481.399994
2023-05-02  2428.100098    474.549988  1688.699951  2436.199951    482.500000
2023-05-03  2413.050049    477.750000  1684.949951  2445.000000    480.250000
2023-05-04  2414.600098    478.750000  1687.099976  2421.149902    483.600006

                Volume
           HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2020-01-01     1836849     6463060      25968357
2020-01-02     3068583     8173308      57289863
2020-01-03     5427775     9684434      47572728
2020-01-06     5445093    11315596      28621212
2020-01-07     7362247     7699489      34995035
...                ...         ...           ...
2023-04-27    23895196     4230627       7085793
2023-04-28    13958136     7183342       9947813
2023-05-02    16110592     5991101      11542592
2023-05-03    14703635     3259053       8529233
2023-05-04    28427319     3985159       5650101

[829 rows x 18 columns]

In [15]:
stocks.head()

              Adj Close                                   Close               \
            HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS
Date
2020-01-01  1244.189819  1475.384033    183.876907  1278.599976  1495.424927
2020-01-02  1252.120361  1500.501587    193.148010  1286.750000  1520.883545
2020-01-03  1234.264282  1502.309692    190.506256  1268.400024  1522.716187
2020-01-06  1207.552856  1467.467651    185.073181  1240.949951  1487.400879
2020-01-07  1226.674072  1490.044189    184.126129  1260.599976  1510.284058

                                 High                                     Low  \
           TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
Date
2020-01-01    184.449997  1280.000000  1512.760498    186.699997  1270.599976
2020-01-02    193.750000  1288.000000  1526.480469    194.699997  1279.000000
2020-01-03    191.100006  1285.000000  1527.173950    195.649994  1263.599976
2020-01-06    185.649994  1261.800049  1513.552979    191.000000  1236.000000
2020-01-07    184.699997  1271.449951  1520.091064    189.399994  1252.250000

                                              Open                             \
            RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS
Date
2020-01-01  1491.363403    183.600006  1276.099976  1503.745972    185.149994
2020-01-02  1497.802368    184.600006  1279.000000  1497.802368    185.000000
2020-01-03  1508.699097    189.250000  1282.199951  1518.605103    192.899994
2020-01-06  1483.933838    185.050003  1260.000000  1505.727173    191.000000
2020-01-07  1499.288208    182.300003  1258.900024  1504.736572    187.000000

                Volume
           HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2020-01-01     1836849     6463060      25968357
2020-01-02     3068583     8173308      57289863
2020-01-03     5427775     9684434      47572728
2020-01-06     5445093    11315596      28621212
2020-01-07     7362247     7699489      34995035

In [16]:
stocks.tail()

              Adj Close                                   Close               \
            HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS
Date
2023-04-27  1661.941040  2368.682861    480.103668  1681.000000  2377.050049
2023-04-28  1668.466187  2411.979736    483.443268  1687.599976  2420.500000
2023-05-02  1668.120117  2432.457520    478.757843  1687.250000  2441.050049
2023-05-03  1673.953247  2411.581299    482.197144  1693.150024  2420.100098
2023-05-04  1708.210449  2439.383057    479.306122  1727.800049  2448.000000

                                 High                                     Low  \
           TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
Date
2023-04-27    481.600006  1685.250000  2384.000000    482.000000  1665.849976
2023-04-28    484.950012  1691.000000  2423.899902    488.000000  1670.000000
2023-05-02    480.250000  1699.000000  2445.800049    484.000000  1682.000000
2023-05-03    483.700012  1696.000000  2445.000000    485.100006  1679.650024
2023-05-04    480.799988  1734.449951  2452.850098    486.399994  1687.099976

                                              Open                             \
            RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS
Date
2023-04-27  2364.000000    476.500000  1670.500000  2375.000000    478.500000
2023-04-28  2381.750000    478.350006  1684.699951  2382.000000    481.399994
2023-05-02  2428.100098    474.549988  1688.699951  2436.199951    482.500000
2023-05-03  2413.050049    477.750000  1684.949951  2445.000000    480.250000
2023-05-04  2414.600098    478.750000  1687.099976  2421.149902    483.600006

                Volume
           HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2023-04-27    23895196     4230627       7085793
2023-04-28    13958136     7183342       9947813
2023-05-02    16110592     5991101      11542592
2023-05-03    14703635     3259053       8529233
2023-05-04    28427319     3985159       5650101

In [17]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 829 entries, 2020-01-01 to 2023-05-04
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   (Adj Close, HDFCBANK.NS)    829 non-null    float64
 1   (Adj Close, RELIANCE.NS)    829 non-null    float64
 2   (Adj Close, TATAMOTORS.NS)  829 non-null    float64
 3   (Close, HDFCBANK.NS)        829 non-null    float64
 4   (Close, RELIANCE.NS)        829 non-null    float64
 5   (Close, TATAMOTORS.NS)      829 non-null    float64
 6   (High, HDFCBANK.NS)         829 non-null    float64
 7   (High, RELIANCE.NS)         829 non-null    float64
 8   (High, TATAMOTORS.NS)       829 non-null    float64
 9   (Low, HDFCBANK.NS)          829 non-null    float64
 10  (Low, RELIANCE.NS)          829 non-null    float64
 11  (Low, TATAMOTORS.NS)        829 non-null    float64
 12  (Open, HDFCBANK.NS)         829 non-null    float64
 13  (Open, RELIANCE.NS)         829 non-null    float64
 14  (Open, TATAMOTORS.NS)       829 non-null    float64
 15  (Volume, HDFCBANK.NS)       829 non-null    int64
 16  (Volume, RELIANCE.NS)       829 non-null    int64
 17  (Volume, TATAMOTORS.NS)     829 non-null    int64
dtypes: float64(15), int64(3)
memory usage: 123.1 KB

In [18]:
 stocks.to_csv("stocks.csv")