In [1]:
a=5
print(a)

5

In [8]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
Apple = yf.download("AAPL",start="2010-01-01",end="2023-01-01")

[*********************100%%**********************]  1 of 1 completed

In [4]:
Apple

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.487533,493729600
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.498751,601904800
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.395380,552160000
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.383556,477131200
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.425995,447610800
...,...,...,...,...,...,...
2022-12-23,130.919998,132.419998,129.639999,131.860001,131.299820,63814900
2022-12-27,131.380005,131.410004,128.720001,130.029999,129.477585,69007800
2022-12-28,129.669998,131.029999,125.870003,126.040001,125.504539,85438400
2022-12-29,127.989998,130.479996,127.730003,129.610001,129.059372,75703700
2022-12-30,128.410004,129.949997,127.430000,129.929993,129.378006,77034200

In [12]:
reliance = yf.download("Reliance",start="2010-01-01",end="2023-05-05")

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['RELIANCE']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [13]:
reliance = yf.download("RELIANCE.NS",start="2010-01-01",end="2023-05-05")

[*********************100%%**********************]  1 of 1 completed

In [7]:
reliance

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2010-01-04,540.427307,540.427307,506.127411,532.700500,481.112885,35372156
2010-01-05,569.551208,569.551208,527.697937,530.323059,478.965698,9872785
2010-01-06,534.879883,542.111328,530.298279,538.891846,486.704773,10933743
2010-01-07,538.891846,552.265076,533.938782,547.832092,494.779205,12090336
2010-01-08,548.797974,551.670715,542.854309,546.395691,493.481873,6973331
...,...,...,...,...,...,...
2023-04-27,2375.000000,2384.000000,2364.000000,2377.050049,2368.682861,4230627
2023-04-28,2382.000000,2423.899902,2381.750000,2420.500000,2411.979736,7183342
2023-05-02,2436.199951,2445.800049,2428.100098,2441.050049,2432.457520,5991101
2023-05-03,2445.000000,2445.000000,2413.050049,2420.100098,2411.581299,3259053
2023-05-04,2421.149902,2452.850098,2414.600098,2448.000000,2439.383057,3985159

In [8]:
a=[1,2,3,4]
a

[1, 2, 3, 4]

In [14]:
ticker=["RELIANCE.NS","TATAMOTORS.NS","HDFCBANK.NS"]

In [15]:
stocks = yf.download(ticker,start="2010-01-01",end="2023-05-05")

[*********************100%%**********************]  3 of 3 completed

In [16]:
stocks

              Adj Close                                   Close               \
            HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS
Date
2010-01-04   153.989578   481.112976    152.664978   170.570007   532.700500
2010-01-05   154.124985   478.965759    150.004959   170.720001   530.323059
2010-01-06   154.228821   486.704712    150.235855   170.835007   538.891846
2010-01-07   154.630539   494.779205    145.100525   171.279999   547.832092
2010-01-08   154.833694   493.481842    145.894867   171.505005   546.395691
...                 ...          ...           ...          ...          ...
2023-04-27  1661.941040  2368.682861    480.103668  1681.000000  2377.050049
2023-04-28  1668.466187  2411.979736    483.443268  1687.599976  2420.500000
2023-05-02  1668.120117  2432.457520    478.757843  1687.250000  2441.050049
2023-05-03  1673.953247  2411.581299    482.197144  1693.150024  2420.100098
2023-05-04  1708.210449  2439.383057    479.306122  1727.800049  2448.000000

                                 High                                     Low  \
           TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
Date
2010-01-04    163.535919   172.850006   540.427307    164.040497   169.255005
2010-01-05    160.686478   172.500000   569.551208    167.147186   170.500000
2010-01-06    160.933823   172.000000   542.111328    162.932388   168.809998
2010-01-07    155.432831   176.839996   552.265076    161.923218   170.160004
2010-01-08    156.283707   172.339996   551.670715    159.251862   170.100006
...                  ...          ...          ...           ...          ...
2023-04-27    481.600006  1685.250000  2384.000000    482.000000  1665.849976
2023-04-28    484.950012  1691.000000  2423.899902    488.000000  1670.000000
2023-05-02    480.250000  1699.000000  2445.800049    484.000000  1682.000000
2023-05-03    483.700012  1696.000000  2445.000000    485.100006  1679.650024
2023-05-04    480.799988  1734.449951  2452.850098    486.399994  1687.099976

                                              Open                             \
            RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS
Date
2010-01-04   506.127411    156.184769   170.000000   540.427307    156.303482
2010-01-05   527.697937    153.246277   171.000000   569.551208    162.259598
2010-01-06   530.298279    159.311234   171.399994   534.879883    162.200241
2010-01-07   533.938782    154.344498   176.839996   538.891846    161.171280
2010-01-08   542.854309    155.343781   171.199997   548.797974    156.323273
...                 ...           ...          ...          ...           ...
2023-04-27  2364.000000    476.500000  1670.500000  2375.000000    478.500000
2023-04-28  2381.750000    478.350006  1684.699951  2382.000000    481.399994
2023-05-02  2428.100098    474.549988  1688.699951  2436.199951    482.500000
2023-05-03  2413.050049    477.750000  1684.949951  2445.000000    480.250000
2023-05-04  2414.600098    478.750000  1687.099976  2421.149902    483.600006

                Volume
           HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2010-01-04     3050490    35372156      27906448
2010-01-05     8386600     9872785      23669317
2010-01-06     6639840    10933743      14990820
2010-01-07     6123980    12090336      22722030
2010-01-08     7085900     6973331      16495776
...                ...         ...           ...
2023-04-27    23895196     4230627       7085793
2023-04-28    13958136     7183342       9947813
2023-05-02    16110592     5991101      11542592
2023-05-03    14703635     3259053       8529233
2023-05-04    28427319     3985159       5650101

[3291 rows x 18 columns]

In [7]:
stocks

NameError: name 'stocks' is not defined

In [13]:
stocks = yf.download(ticker,start="2020-01-01",end="2023-05-05")

[*********************100%%**********************]  3 of 3 completed

In [14]:
stocks

              Adj Close                                   Close               \
            HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS
Date
2020-01-01  1244.189819  1475.384033    183.876907  1278.599976  1495.424927
2020-01-02  1252.120361  1500.501587    193.148010  1286.750000  1520.883545
2020-01-03  1234.264282  1502.309692    190.506256  1268.400024  1522.716187
2020-01-06  1207.552856  1467.467651    185.073181  1240.949951  1487.400879
2020-01-07  1226.674072  1490.044189    184.126129  1260.599976  1510.284058
...                 ...          ...           ...          ...          ...
2023-04-27  1661.941040  2368.682861    480.103668  1681.000000  2377.050049
2023-04-28  1668.466187  2411.979736    483.443268  1687.599976  2420.500000
2023-05-02  1668.120117  2432.457520    478.757843  1687.250000  2441.050049
2023-05-03  1673.953247  2411.581299    482.197144  1693.150024  2420.100098
2023-05-04  1708.210449  2439.383057    479.306122  1727.800049  2448.000000

                                 High                                     Low  \
           TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
Date
2020-01-01    184.449997  1280.000000  1512.760498    186.699997  1270.599976
2020-01-02    193.750000  1288.000000  1526.480469    194.699997  1279.000000
2020-01-03    191.100006  1285.000000  1527.173950    195.649994  1263.599976
2020-01-06    185.649994  1261.800049  1513.552979    191.000000  1236.000000
2020-01-07    184.699997  1271.449951  1520.091064    189.399994  1252.250000
...                  ...          ...          ...           ...          ...
2023-04-27    481.600006  1685.250000  2384.000000    482.000000  1665.849976
2023-04-28    484.950012  1691.000000  2423.899902    488.000000  1670.000000
2023-05-02    480.250000  1699.000000  2445.800049    484.000000  1682.000000
2023-05-03    483.700012  1696.000000  2445.000000    485.100006  1679.650024
2023-05-04    480.799988  1734.449951  2452.850098    486.399994  1687.099976

                                              Open                             \
            RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS
Date
2020-01-01  1491.363403    183.600006  1276.099976  1503.745972    185.149994
2020-01-02  1497.802368    184.600006  1279.000000  1497.802368    185.000000
2020-01-03  1508.699097    189.250000  1282.199951  1518.605103    192.899994
2020-01-06  1483.933838    185.050003  1260.000000  1505.727173    191.000000
2020-01-07  1499.288208    182.300003  1258.900024  1504.736572    187.000000
...                 ...           ...          ...          ...           ...
2023-04-27  2364.000000    476.500000  1670.500000  2375.000000    478.500000
2023-04-28  2381.750000    478.350006  1684.699951  2382.000000    481.399994
2023-05-02  2428.100098    474.549988  1688.699951  2436.199951    482.500000
2023-05-03  2413.050049    477.750000  1684.949951  2445.000000    480.250000
2023-05-04  2414.600098    478.750000  1687.099976  2421.149902    483.600006

                Volume
           HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2020-01-01     1836849     6463060      25968357
2020-01-02     3068583     8173308      57289863
2020-01-03     5427775     9684434      47572728
2020-01-06     5445093    11315596      28621212
2020-01-07     7362247     7699489      34995035
...                ...         ...           ...
2023-04-27    23895196     4230627       7085793
2023-04-28    13958136     7183342       9947813
2023-05-02    16110592     5991101      11542592
2023-05-03    14703635     3259053       8529233
2023-05-04    28427319     3985159       5650101

[829 rows x 18 columns]

In [15]:
stocks.head()

              Adj Close                                   Close               \
            HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS
Date
2020-01-01  1244.189819  1475.384033    183.876907  1278.599976  1495.424927
2020-01-02  1252.120361  1500.501587    193.148010  1286.750000  1520.883545
2020-01-03  1234.264282  1502.309692    190.506256  1268.400024  1522.716187
2020-01-06  1207.552856  1467.467651    185.073181  1240.949951  1487.400879
2020-01-07  1226.674072  1490.044189    184.126129  1260.599976  1510.284058

                                 High                                     Low  \
           TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
Date
2020-01-01    184.449997  1280.000000  1512.760498    186.699997  1270.599976
2020-01-02    193.750000  1288.000000  1526.480469    194.699997  1279.000000
2020-01-03    191.100006  1285.000000  1527.173950    195.649994  1263.599976
2020-01-06    185.649994  1261.800049  1513.552979    191.000000  1236.000000
2020-01-07    184.699997  1271.449951  1520.091064    189.399994  1252.250000

                                              Open                             \
            RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS
Date
2020-01-01  1491.363403    183.600006  1276.099976  1503.745972    185.149994
2020-01-02  1497.802368    184.600006  1279.000000  1497.802368    185.000000
2020-01-03  1508.699097    189.250000  1282.199951  1518.605103    192.899994
2020-01-06  1483.933838    185.050003  1260.000000  1505.727173    191.000000
2020-01-07  1499.288208    182.300003  1258.900024  1504.736572    187.000000

                Volume
           HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2020-01-01     1836849     6463060      25968357
2020-01-02     3068583     8173308      57289863
2020-01-03     5427775     9684434      47572728
2020-01-06     5445093    11315596      28621212
2020-01-07     7362247     7699489      34995035

In [4]:
stocks.tail()

NameError: name 'stocks' is not defined

In [17]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 829 entries, 2020-01-01 to 2023-05-04
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   (Adj Close, HDFCBANK.NS)    829 non-null    float64
 1   (Adj Close, RELIANCE.NS)    829 non-null    float64
 2   (Adj Close, TATAMOTORS.NS)  829 non-null    float64
 3   (Close, HDFCBANK.NS)        829 non-null    float64
 4   (Close, RELIANCE.NS)        829 non-null    float64
 5   (Close, TATAMOTORS.NS)      829 non-null    float64
 6   (High, HDFCBANK.NS)         829 non-null    float64
 7   (High, RELIANCE.NS)         829 non-null    float64
 8   (High, TATAMOTORS.NS)       829 non-null    float64
 9   (Low, HDFCBANK.NS)          829 non-null    float64
 10  (Low, RELIANCE.NS)          829 non-null    float64
 11  (Low, TATAMOTORS.NS)        829 non-null    float64
 12  (Open, HDFCBANK.NS)         829 non-null    float64
 13  (Open, RELIANCE.NS)         829 non-null    float64
 14  (Open, TATAMOTORS.NS)       829 non-null    float64
 15  (Volume, HDFCBANK.NS)       829 non-null    int64
 16  (Volume, RELIANCE.NS)       829 non-null    int64
 17  (Volume, TATAMOTORS.NS)     829 non-null    int64
dtypes: float64(15), int64(3)
memory usage: 123.1 KB

In [4]:
 stocks.to_csv("stocks.csv")

In [11]:
 stocks = pd.read_csv("stocks.csv")

In [1]:
stocks

NameError: name 'stocks' is not defined

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
stocks

              Adj Close                                   Close               \
            HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS
Date
2010-01-04   153.989578   481.112976    152.664978   170.570007   532.700500
2010-01-05   154.124985   478.965759    150.004959   170.720001   530.323059
2010-01-06   154.228821   486.704712    150.235855   170.835007   538.891846
2010-01-07   154.630539   494.779205    145.100525   171.279999   547.832092
2010-01-08   154.833694   493.481842    145.894867   171.505005   546.395691
...                 ...          ...           ...          ...          ...
2023-04-27  1661.941040  2368.682861    480.103668  1681.000000  2377.050049
2023-04-28  1668.466187  2411.979736    483.443268  1687.599976  2420.500000
2023-05-02  1668.120117  2432.457520    478.757843  1687.250000  2441.050049
2023-05-03  1673.953247  2411.581299    482.197144  1693.150024  2420.100098
2023-05-04  1708.210449  2439.383057    479.306122  1727.800049  2448.000000

                                 High                                     Low  \
           TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
Date
2010-01-04    163.535919   172.850006   540.427307    164.040497   169.255005
2010-01-05    160.686478   172.500000   569.551208    167.147186   170.500000
2010-01-06    160.933823   172.000000   542.111328    162.932388   168.809998
2010-01-07    155.432831   176.839996   552.265076    161.923218   170.160004
2010-01-08    156.283707   172.339996   551.670715    159.251862   170.100006
...                  ...          ...          ...           ...          ...
2023-04-27    481.600006  1685.250000  2384.000000    482.000000  1665.849976
2023-04-28    484.950012  1691.000000  2423.899902    488.000000  1670.000000
2023-05-02    480.250000  1699.000000  2445.800049    484.000000  1682.000000
2023-05-03    483.700012  1696.000000  2445.000000    485.100006  1679.650024
2023-05-04    480.799988  1734.449951  2452.850098    486.399994  1687.099976

                                              Open                             \
            RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS
Date
2010-01-04   506.127411    156.184769   170.000000   540.427307    156.303482
2010-01-05   527.697937    153.246277   171.000000   569.551208    162.259598
2010-01-06   530.298279    159.311234   171.399994   534.879883    162.200241
2010-01-07   533.938782    154.344498   176.839996   538.891846    161.171280
2010-01-08   542.854309    155.343781   171.199997   548.797974    156.323273
...                 ...           ...          ...          ...           ...
2023-04-27  2364.000000    476.500000  1670.500000  2375.000000    478.500000
2023-04-28  2381.750000    478.350006  1684.699951  2382.000000    481.399994
2023-05-02  2428.100098    474.549988  1688.699951  2436.199951    482.500000
2023-05-03  2413.050049    477.750000  1684.949951  2445.000000    480.250000
2023-05-04  2414.600098    478.750000  1687.099976  2421.149902    483.600006

                Volume
           HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2010-01-04     3050490    35372156      27906448
2010-01-05     8386600     9872785      23669317
2010-01-06     6639840    10933743      14990820
2010-01-07     6123980    12090336      22722030
2010-01-08     7085900     6973331      16495776
...                ...         ...           ...
2023-04-27    23895196     4230627       7085793
2023-04-28    13958136     7183342       9947813
2023-05-02    16110592     5991101      11542592
2023-05-03    14703635     3259053       8529233
2023-05-04    28427319     3985159       5650101

[3291 rows x 18 columns]

In [12]:
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,NaN,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,1244.1898193359375,1475.384033203125,183.8769073486328,1278.5999755859375,1495.4249267578125,184.4499969482422,1280.0,1512.760498046875,186.6999969482422,1270.5999755859375,1491.3634033203125,183.60000610351562,1276.0999755859375,1503.7459716796875,185.14999389648438,1836849,6463060,25968357
3,2020-01-02,1252.120361328125,1500.5015869140625,193.14801025390625,1286.75,1520.883544921875,193.75,1288.0,1526.48046875,194.6999969482422,1279.0,1497.8023681640625,184.60000610351562,1279.0,1497.8023681640625,185.0,3068583,8173308,57289863
4,2020-01-03,1234.2642822265625,1502.3096923828125,190.50625610351562,1268.4000244140625,1522.7161865234375,191.10000610351562,1285.0,1527.1739501953125,195.64999389648438,1263.5999755859375,1508.6990966796875,189.25,1282.199951171875,1518.6051025390625,192.89999389648438,5427775,9684434,47572728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,2023-04-27,1661.9410400390625,2368.682861328125,480.1036682128906,1681.0,2377.050048828125,481.6000061035156,1685.25,2384.0,482.0,1665.8499755859375,2364.0,476.5,1670.5,2375.0,478.5,23895196,4230627,7085793
827,2023-04-28,1668.4661865234375,2411.979736328125,483.4432678222656,1687.5999755859375,2420.5,484.95001220703125,1691.0,2423.89990234375,488.0,1670.0,2381.75,478.3500061035156,1684.699951171875,2382.0,481.3999938964844,13958136,7183342,9947813
828,2023-05-02,1668.1201171875,2432.45751953125,478.7578430175781,1687.25,2441.050048828125,480.25,1699.0,2445.800048828125,484.0,1682.0,2428.10009765625,474.54998779296875,1688.699951171875,2436.199951171875,482.5,16110592,5991101,11542592
829,2023-05-03,1673.9532470703125,2411.581298828125,482.1971435546875,1693.1500244140625,2420.10009765625,483.70001220703125,1696.0,2445.0,485.1000061035156,1679.6500244140625,2413.050048828125,477.75,1684.949951171875,2445.0,480.25,14703635,3259053,8529233
830,2023-05-04,1708.21044921875,2439.383056640625,479.3061218261719,1727.800048828125,2448.0,480.79998779296875,1734.449951171875,2452.85009765625,486.3999938964844,1687.0999755859375,2414.60009765625,478.75,1687.0999755859375,2421.14990234375,483.6000061035156,28427319,3985159,5650101

In [3]:
 stocks = pd.read_csv("stocks.csv")
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,NaN,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,1244.1898193359375,1475.384033203125,183.8769073486328,1278.5999755859375,1495.4249267578125,184.4499969482422,1280.0,1512.760498046875,186.6999969482422,1270.5999755859375,1491.3634033203125,183.60000610351562,1276.0999755859375,1503.7459716796875,185.14999389648438,1836849,6463060,25968357
3,2020-01-02,1252.120361328125,1500.5015869140625,193.14801025390625,1286.75,1520.883544921875,193.75,1288.0,1526.48046875,194.6999969482422,1279.0,1497.8023681640625,184.60000610351562,1279.0,1497.8023681640625,185.0,3068583,8173308,57289863
4,2020-01-03,1234.2642822265625,1502.3096923828125,190.50625610351562,1268.4000244140625,1522.7161865234375,191.10000610351562,1285.0,1527.1739501953125,195.64999389648438,1263.5999755859375,1508.6990966796875,189.25,1282.199951171875,1518.6051025390625,192.89999389648438,5427775,9684434,47572728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,2023-04-27,1661.9410400390625,2368.682861328125,480.1036682128906,1681.0,2377.050048828125,481.6000061035156,1685.25,2384.0,482.0,1665.8499755859375,2364.0,476.5,1670.5,2375.0,478.5,23895196,4230627,7085793
827,2023-04-28,1668.4661865234375,2411.979736328125,483.4432678222656,1687.5999755859375,2420.5,484.95001220703125,1691.0,2423.89990234375,488.0,1670.0,2381.75,478.3500061035156,1684.699951171875,2382.0,481.3999938964844,13958136,7183342,9947813
828,2023-05-02,1668.1201171875,2432.45751953125,478.7578430175781,1687.25,2441.050048828125,480.25,1699.0,2445.800048828125,484.0,1682.0,2428.10009765625,474.54998779296875,1688.699951171875,2436.199951171875,482.5,16110592,5991101,11542592
829,2023-05-03,1673.9532470703125,2411.581298828125,482.1971435546875,1693.1500244140625,2420.10009765625,483.70001220703125,1696.0,2445.0,485.1000061035156,1679.6500244140625,2413.050048828125,477.75,1684.949951171875,2445.0,480.25,14703635,3259053,8529233
830,2023-05-04,1708.21044921875,2439.383056640625,479.3061218261719,1727.800048828125,2448.0,480.79998779296875,1734.449951171875,2452.85009765625,486.3999938964844,1687.0999755859375,2414.60009765625,478.75,1687.0999755859375,2421.14990234375,483.6000061035156,28427319,3985159,5650101

In [30]:
 stocks = pd.read_csv("stocks.csv",header=[0,1])
stocks

,Unnamed: 0_level_0,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
,0,Unnamed: 1_level_1,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS
0,1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2020-01-01,1244.189819,1475.384033,183.876907,1278.599976,1495.424927,184.449997,1280.000000,1512.760498,186.699997,1270.599976,1491.363403,183.600006,1276.099976,1503.745972,185.149994,1836849.0,6463060.0,25968357.0
2,3,2020-01-02,1252.120361,1500.501587,193.148010,1286.750000,1520.883545,193.750000,1288.000000,1526.480469,194.699997,1279.000000,1497.802368,184.600006,1279.000000,1497.802368,185.000000,3068583.0,8173308.0,57289863.0
3,4,2020-01-03,1234.264282,1502.309692,190.506256,1268.400024,1522.716187,191.100006,1285.000000,1527.173950,195.649994,1263.599976,1508.699097,189.250000,1282.199951,1518.605103,192.899994,5427775.0,9684434.0,47572728.0
4,5,2020-01-06,1207.552856,1467.467651,185.073181,1240.949951,1487.400879,185.649994,1261.800049,1513.552979,191.000000,1236.000000,1483.933838,185.050003,1260.000000,1505.727173,191.000000,5445093.0,11315596.0,28621212.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,826,2023-04-27,1661.941040,2368.682861,480.103668,1681.000000,2377.050049,481.600006,1685.250000,2384.000000,482.000000,1665.849976,2364.000000,476.500000,1670.500000,2375.000000,478.500000,23895196.0,4230627.0,7085793.0
826,827,2023-04-28,1668.466187,2411.979736,483.443268,1687.599976,2420.500000,484.950012,1691.000000,2423.899902,488.000000,1670.000000,2381.750000,478.350006,1684.699951,2382.000000,481.399994,13958136.0,7183342.0,9947813.0
827,828,2023-05-02,1668.120117,2432.457520,478.757843,1687.250000,2441.050049,480.250000,1699.000000,2445.800049,484.000000,1682.000000,2428.100098,474.549988,1688.699951,2436.199951,482.500000,16110592.0,5991101.0,11542592.0
828,829,2023-05-03,1673.953247,2411.581299,482.197144,1693.150024,2420.100098,483.700012,1696.000000,2445.000000,485.100006,1679.650024,2413.050049,477.750000,1684.949951,2445.000000,480.250000,14703635.0,3259053.0,8529233.0
829,830,2023-05-04,1708.210449,2439.383057,479.306122,1727.800049,2448.000000,480.799988,1734.449951,2452.850098,486.399994,1687.099976,2414.600098,478.750000,1687.099976,2421.149902,483.600006,28427319.0,3985159.0,5650101.0

In [6]:
stocks.column

AttributeError: 'DataFrame' object has no attribute 'column'

In [7]:
stocks.columns

Index(['Unnamed: 0', 'Adj Close', 'Adj Close.1', 'Adj Close.2', 'Close',
       'Close.1', 'Close.2', 'High', 'High.1', 'High.2', 'Low', 'Low.1',
       'Low.2', 'Open', 'Open.1', 'Open.2', 'Volume', 'Volume.1', 'Volume.2'],
      dtype='object')

In [8]:
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,NaN,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,1244.1898193359375,1475.384033203125,183.8769073486328,1278.5999755859375,1495.4249267578125,184.4499969482422,1280.0,1512.760498046875,186.6999969482422,1270.5999755859375,1491.3634033203125,183.60000610351562,1276.0999755859375,1503.7459716796875,185.14999389648438,1836849,6463060,25968357
3,2020-01-02,1252.120361328125,1500.5015869140625,193.14801025390625,1286.75,1520.883544921875,193.75,1288.0,1526.48046875,194.6999969482422,1279.0,1497.8023681640625,184.60000610351562,1279.0,1497.8023681640625,185.0,3068583,8173308,57289863
4,2020-01-03,1234.2642822265625,1502.3096923828125,190.50625610351562,1268.4000244140625,1522.7161865234375,191.10000610351562,1285.0,1527.1739501953125,195.64999389648438,1263.5999755859375,1508.6990966796875,189.25,1282.199951171875,1518.6051025390625,192.89999389648438,5427775,9684434,47572728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,2023-04-27,1661.9410400390625,2368.682861328125,480.1036682128906,1681.0,2377.050048828125,481.6000061035156,1685.25,2384.0,482.0,1665.8499755859375,2364.0,476.5,1670.5,2375.0,478.5,23895196,4230627,7085793
827,2023-04-28,1668.4661865234375,2411.979736328125,483.4432678222656,1687.5999755859375,2420.5,484.95001220703125,1691.0,2423.89990234375,488.0,1670.0,2381.75,478.3500061035156,1684.699951171875,2382.0,481.3999938964844,13958136,7183342,9947813
828,2023-05-02,1668.1201171875,2432.45751953125,478.7578430175781,1687.25,2441.050048828125,480.25,1699.0,2445.800048828125,484.0,1682.0,2428.10009765625,474.54998779296875,1688.699951171875,2436.199951171875,482.5,16110592,5991101,11542592
829,2023-05-03,1673.9532470703125,2411.581298828125,482.1971435546875,1693.1500244140625,2420.10009765625,483.70001220703125,1696.0,2445.0,485.1000061035156,1679.6500244140625,2413.050048828125,477.75,1684.949951171875,2445.0,480.25,14703635,3259053,8529233
830,2023-05-04,1708.21044921875,2439.383056640625,479.3061218261719,1727.800048828125,2448.0,480.79998779296875,1734.449951171875,2452.85009765625,486.3999938964844,1687.0999755859375,2414.60009765625,478.75,1687.0999755859375,2421.14990234375,483.6000061035156,28427319,3985159,5650101

In [9]:
stocks.columns

Index(['Unnamed: 0', 'Adj Close', 'Adj Close.1', 'Adj Close.2', 'Close',
       'Close.1', 'Close.2', 'High', 'High.1', 'High.2', 'Low', 'Low.1',
       'Low.2', 'Open', 'Open.1', 'Open.2', 'Volume', 'Volume.1', 'Volume.2'],
      dtype='object')

In [10]:
 stocks = pd.read_csv("stocks.csv",header=[0,1],index_col=[0], parse_dates=[0])
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,Unnamed: 1_level_1,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,1244.189819,1475.384033,183.876907,1278.599976,1495.424927,184.449997,1280.000000,1512.760498,186.699997,1270.599976,1491.363403,183.600006,1276.099976,1503.745972,185.149994,1836849.0,6463060.0,25968357.0
3,2020-01-02,1252.120361,1500.501587,193.148010,1286.750000,1520.883545,193.750000,1288.000000,1526.480469,194.699997,1279.000000,1497.802368,184.600006,1279.000000,1497.802368,185.000000,3068583.0,8173308.0,57289863.0
4,2020-01-03,1234.264282,1502.309692,190.506256,1268.400024,1522.716187,191.100006,1285.000000,1527.173950,195.649994,1263.599976,1508.699097,189.250000,1282.199951,1518.605103,192.899994,5427775.0,9684434.0,47572728.0
5,2020-01-06,1207.552856,1467.467651,185.073181,1240.949951,1487.400879,185.649994,1261.800049,1513.552979,191.000000,1236.000000,1483.933838,185.050003,1260.000000,1505.727173,191.000000,5445093.0,11315596.0,28621212.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,2023-04-27,1661.941040,2368.682861,480.103668,1681.000000,2377.050049,481.600006,1685.250000,2384.000000,482.000000,1665.849976,2364.000000,476.500000,1670.500000,2375.000000,478.500000,23895196.0,4230627.0,7085793.0
827,2023-04-28,1668.466187,2411.979736,483.443268,1687.599976,2420.500000,484.950012,1691.000000,2423.899902,488.000000,1670.000000,2381.750000,478.350006,1684.699951,2382.000000,481.399994,13958136.0,7183342.0,9947813.0
828,2023-05-02,1668.120117,2432.457520,478.757843,1687.250000,2441.050049,480.250000,1699.000000,2445.800049,484.000000,1682.000000,2428.100098,474.549988,1688.699951,2436.199951,482.500000,16110592.0,5991101.0,11542592.0
829,2023-05-03,1673.953247,2411.581299,482.197144,1693.150024,2420.100098,483.700012,1696.000000,2445.000000,485.100006,1679.650024,2413.050049,477.750000,1684.949951,2445.000000,480.250000,14703635.0,3259053.0,8529233.0
830,2023-05-04,1708.210449,2439.383057,479.306122,1727.800049,2448.000000,480.799988,1734.449951,2452.850098,486.399994,1687.099976,2414.600098,478.750000,1687.099976,2421.149902,483.600006,28427319.0,3985159.0,5650101.0

In [11]:
stocks.columns

MultiIndex([( 'Unnamed: 0', 'Unnamed: 1_level_1'),
            (  'Adj Close',        'HDFCBANK.NS'),
            ('Adj Close.1',        'RELIANCE.NS'),
            ('Adj Close.2',      'TATAMOTORS.NS'),
            (      'Close',        'HDFCBANK.NS'),
            (    'Close.1',        'RELIANCE.NS'),
            (    'Close.2',      'TATAMOTORS.NS'),
            (       'High',        'HDFCBANK.NS'),
            (     'High.1',        'RELIANCE.NS'),
            (     'High.2',      'TATAMOTORS.NS'),
            (        'Low',        'HDFCBANK.NS'),
            (      'Low.1',        'RELIANCE.NS'),
            (      'Low.2',      'TATAMOTORS.NS'),
            (       'Open',        'HDFCBANK.NS'),
            (     'Open.1',        'RELIANCE.NS'),
            (     'Open.2',      'TATAMOTORS.NS'),
            (     'Volume',        'HDFCBANK.NS'),
            (   'Volume.1',        'RELIANCE.NS'),
            (   'Volume.2',      'TATAMOTORS.NS')],
           names=[None, '0'])

In [12]:
stocks.columns=stocks.columns.to_flat_index()

In [13]:
stocks.columns

Index([('Unnamed: 0', 'Unnamed: 1_level_1'),
               ('Adj Close', 'HDFCBANK.NS'),
             ('Adj Close.1', 'RELIANCE.NS'),
           ('Adj Close.2', 'TATAMOTORS.NS'),
                   ('Close', 'HDFCBANK.NS'),
                 ('Close.1', 'RELIANCE.NS'),
               ('Close.2', 'TATAMOTORS.NS'),
                    ('High', 'HDFCBANK.NS'),
                  ('High.1', 'RELIANCE.NS'),
                ('High.2', 'TATAMOTORS.NS'),
                     ('Low', 'HDFCBANK.NS'),
                   ('Low.1', 'RELIANCE.NS'),
                 ('Low.2', 'TATAMOTORS.NS'),
                    ('Open', 'HDFCBANK.NS'),
                  ('Open.1', 'RELIANCE.NS'),
                ('Open.2', 'TATAMOTORS.NS'),
                  ('Volume', 'HDFCBANK.NS'),
                ('Volume.1', 'RELIANCE.NS'),
              ('Volume.2', 'TATAMOTORS.NS')],
      dtype='object')

In [14]:
stocks.describe()

,"(Adj Close, HDFCBANK.NS)","(Adj Close.1, RELIANCE.NS)","(Adj Close.2, TATAMOTORS.NS)","(Close, HDFCBANK.NS)","(Close.1, RELIANCE.NS)","(Close.2, TATAMOTORS.NS)","(High, HDFCBANK.NS)","(High.1, RELIANCE.NS)","(High.2, TATAMOTORS.NS)","(Low, HDFCBANK.NS)","(Low.1, RELIANCE.NS)","(Low.2, TATAMOTORS.NS)","(Open, HDFCBANK.NS)","(Open.1, RELIANCE.NS)","(Open.2, TATAMOTORS.NS)","(Volume, HDFCBANK.NS)","(Volume.1, RELIANCE.NS)","(Volume.2, TATAMOTORS.NS)"
count,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,829.000000,8.290000e+02,8.290000e+02,8.290000e+02
mean,1363.028316,2160.377187,316.332544,1391.914116,2176.276514,317.318456,1406.700360,2203.098348,322.580640,1376.544875,2151.858013,312.531363,1392.198009,2178.455650,317.821351,1.003888e+07,1.045900e+07,4.321026e+07
std,211.847224,402.526924,139.108745,212.042876,400.701398,139.542304,210.256353,400.669873,141.082213,213.457953,400.167957,138.108802,211.084763,400.643254,139.815239,6.380833e+06,8.452814e+06,4.131238e+07
min,747.039307,864.012512,65.097115,767.700012,875.748779,65.300003,810.000000,941.079529,66.900002,738.750000,867.427673,63.500000,770.450012,907.596863,66.500000,5.484040e+05,7.871600e+05,2.871205e+06
25%,1248.179321,1966.345825,175.552856,1281.300049,1985.599976,176.100006,1287.949951,2006.500000,179.699997,1271.599976,1965.300049,173.000000,1281.750000,1988.000000,176.000000,5.632862e+06,5.232292e+06,1.524924e+07
50%,1422.289307,2240.086914,334.208374,1448.699951,2255.850098,335.250000,1464.500000,2290.000000,342.799988,1435.300049,2234.149902,329.000000,1451.500000,2260.000000,336.799988,7.987674e+06,7.670583e+06,3.019748e+07
75%,1510.183105,2463.703613,432.900787,1545.150024,2477.850098,434.250000,1557.699951,2502.500000,440.600006,1528.099976,2453.600098,429.700012,1544.000000,2474.699951,435.500000,1.215816e+07,1.244157e+07,5.693007e+07
max,1708.210449,2801.489502,528.502869,1727.800049,2819.850098,530.150024,1734.449951,2856.149902,536.700012,1687.099976,2786.100098,520.250000,1720.000000,2856.149902,531.450012,4.872548e+07,6.584835e+07,3.905778e+08

In [16]:
stocks.loc[:,"Close"]

KeyError: 'Close'

In [17]:
stocks.columns=pd.MultIndex.from_tuples(stocks.columns)
stocks

AttributeError: module 'pandas' has no attribute 'MultIndex'

In [18]:
stocks

,"(Unnamed: 0, Unnamed: 1_level_1)","(Adj Close, HDFCBANK.NS)","(Adj Close.1, RELIANCE.NS)","(Adj Close.2, TATAMOTORS.NS)","(Close, HDFCBANK.NS)","(Close.1, RELIANCE.NS)","(Close.2, TATAMOTORS.NS)","(High, HDFCBANK.NS)","(High.1, RELIANCE.NS)","(High.2, TATAMOTORS.NS)","(Low, HDFCBANK.NS)","(Low.1, RELIANCE.NS)","(Low.2, TATAMOTORS.NS)","(Open, HDFCBANK.NS)","(Open.1, RELIANCE.NS)","(Open.2, TATAMOTORS.NS)","(Volume, HDFCBANK.NS)","(Volume.1, RELIANCE.NS)","(Volume.2, TATAMOTORS.NS)"
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,1244.189819,1475.384033,183.876907,1278.599976,1495.424927,184.449997,1280.000000,1512.760498,186.699997,1270.599976,1491.363403,183.600006,1276.099976,1503.745972,185.149994,1836849.0,6463060.0,25968357.0
3,2020-01-02,1252.120361,1500.501587,193.148010,1286.750000,1520.883545,193.750000,1288.000000,1526.480469,194.699997,1279.000000,1497.802368,184.600006,1279.000000,1497.802368,185.000000,3068583.0,8173308.0,57289863.0
4,2020-01-03,1234.264282,1502.309692,190.506256,1268.400024,1522.716187,191.100006,1285.000000,1527.173950,195.649994,1263.599976,1508.699097,189.250000,1282.199951,1518.605103,192.899994,5427775.0,9684434.0,47572728.0
5,2020-01-06,1207.552856,1467.467651,185.073181,1240.949951,1487.400879,185.649994,1261.800049,1513.552979,191.000000,1236.000000,1483.933838,185.050003,1260.000000,1505.727173,191.000000,5445093.0,11315596.0,28621212.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,2023-04-27,1661.941040,2368.682861,480.103668,1681.000000,2377.050049,481.600006,1685.250000,2384.000000,482.000000,1665.849976,2364.000000,476.500000,1670.500000,2375.000000,478.500000,23895196.0,4230627.0,7085793.0
827,2023-04-28,1668.466187,2411.979736,483.443268,1687.599976,2420.500000,484.950012,1691.000000,2423.899902,488.000000,1670.000000,2381.750000,478.350006,1684.699951,2382.000000,481.399994,13958136.0,7183342.0,9947813.0
828,2023-05-02,1668.120117,2432.457520,478.757843,1687.250000,2441.050049,480.250000,1699.000000,2445.800049,484.000000,1682.000000,2428.100098,474.549988,1688.699951,2436.199951,482.500000,16110592.0,5991101.0,11542592.0
829,2023-05-03,1673.953247,2411.581299,482.197144,1693.150024,2420.100098,483.700012,1696.000000,2445.000000,485.100006,1679.650024,2413.050049,477.750000,1684.949951,2445.000000,480.250000,14703635.0,3259053.0,8529233.0
830,2023-05-04,1708.210449,2439.383057,479.306122,1727.800049,2448.000000,480.799988,1734.449951,2452.850098,486.399994,1687.099976,2414.600098,478.750000,1687.099976,2421.149902,483.600006,28427319.0,3985159.0,5650101.0

In [19]:
stocks.columns   = pd.MultIndex.from_tuples(stocks.columns)
stocks

AttributeError: module 'pandas' has no attribute 'MultIndex'

In [22]:
stocks.columns=stocks.columns.to_flat_index()

In [23]:
stocks.columns

Index([('Unnamed: 0', 'Unnamed: 1_level_1'),
               ('Adj Close', 'HDFCBANK.NS'),
             ('Adj Close.1', 'RELIANCE.NS'),
           ('Adj Close.2', 'TATAMOTORS.NS'),
                   ('Close', 'HDFCBANK.NS'),
                 ('Close.1', 'RELIANCE.NS'),
               ('Close.2', 'TATAMOTORS.NS'),
                    ('High', 'HDFCBANK.NS'),
                  ('High.1', 'RELIANCE.NS'),
                ('High.2', 'TATAMOTORS.NS'),
                     ('Low', 'HDFCBANK.NS'),
                   ('Low.1', 'RELIANCE.NS'),
                 ('Low.2', 'TATAMOTORS.NS'),
                    ('Open', 'HDFCBANK.NS'),
                  ('Open.1', 'RELIANCE.NS'),
                ('Open.2', 'TATAMOTORS.NS'),
                  ('Volume', 'HDFCBANK.NS'),
                ('Volume.1', 'RELIANCE.NS'),
              ('Volume.2', 'TATAMOTORS.NS')],
      dtype='object')

In [24]:
stocks

,"(Unnamed: 0, Unnamed: 1_level_1)","(Adj Close, HDFCBANK.NS)","(Adj Close.1, RELIANCE.NS)","(Adj Close.2, TATAMOTORS.NS)","(Close, HDFCBANK.NS)","(Close.1, RELIANCE.NS)","(Close.2, TATAMOTORS.NS)","(High, HDFCBANK.NS)","(High.1, RELIANCE.NS)","(High.2, TATAMOTORS.NS)","(Low, HDFCBANK.NS)","(Low.1, RELIANCE.NS)","(Low.2, TATAMOTORS.NS)","(Open, HDFCBANK.NS)","(Open.1, RELIANCE.NS)","(Open.2, TATAMOTORS.NS)","(Volume, HDFCBANK.NS)","(Volume.1, RELIANCE.NS)","(Volume.2, TATAMOTORS.NS)"
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,1244.189819,1475.384033,183.876907,1278.599976,1495.424927,184.449997,1280.000000,1512.760498,186.699997,1270.599976,1491.363403,183.600006,1276.099976,1503.745972,185.149994,1836849.0,6463060.0,25968357.0
3,2020-01-02,1252.120361,1500.501587,193.148010,1286.750000,1520.883545,193.750000,1288.000000,1526.480469,194.699997,1279.000000,1497.802368,184.600006,1279.000000,1497.802368,185.000000,3068583.0,8173308.0,57289863.0
4,2020-01-03,1234.264282,1502.309692,190.506256,1268.400024,1522.716187,191.100006,1285.000000,1527.173950,195.649994,1263.599976,1508.699097,189.250000,1282.199951,1518.605103,192.899994,5427775.0,9684434.0,47572728.0
5,2020-01-06,1207.552856,1467.467651,185.073181,1240.949951,1487.400879,185.649994,1261.800049,1513.552979,191.000000,1236.000000,1483.933838,185.050003,1260.000000,1505.727173,191.000000,5445093.0,11315596.0,28621212.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,2023-04-27,1661.941040,2368.682861,480.103668,1681.000000,2377.050049,481.600006,1685.250000,2384.000000,482.000000,1665.849976,2364.000000,476.500000,1670.500000,2375.000000,478.500000,23895196.0,4230627.0,7085793.0
827,2023-04-28,1668.466187,2411.979736,483.443268,1687.599976,2420.500000,484.950012,1691.000000,2423.899902,488.000000,1670.000000,2381.750000,478.350006,1684.699951,2382.000000,481.399994,13958136.0,7183342.0,9947813.0
828,2023-05-02,1668.120117,2432.457520,478.757843,1687.250000,2441.050049,480.250000,1699.000000,2445.800049,484.000000,1682.000000,2428.100098,474.549988,1688.699951,2436.199951,482.500000,16110592.0,5991101.0,11542592.0
829,2023-05-03,1673.953247,2411.581299,482.197144,1693.150024,2420.100098,483.700012,1696.000000,2445.000000,485.100006,1679.650024,2413.050049,477.750000,1684.949951,2445.000000,480.250000,14703635.0,3259053.0,8529233.0
830,2023-05-04,1708.210449,2439.383057,479.306122,1727.800049,2448.000000,480.799988,1734.449951,2452.850098,486.399994,1687.099976,2414.600098,478.750000,1687.099976,2421.149902,483.600006,28427319.0,3985159.0,5650101.0

In [27]:
stocks.columns=pd.MultiIndex.from_tuples(stocks.columns)
stocks

,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
,Unnamed: 1_level_1,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,1244.189819,1475.384033,183.876907,1278.599976,1495.424927,184.449997,1280.000000,1512.760498,186.699997,1270.599976,1491.363403,183.600006,1276.099976,1503.745972,185.149994,1836849.0,6463060.0,25968357.0
3,2020-01-02,1252.120361,1500.501587,193.148010,1286.750000,1520.883545,193.750000,1288.000000,1526.480469,194.699997,1279.000000,1497.802368,184.600006,1279.000000,1497.802368,185.000000,3068583.0,8173308.0,57289863.0
4,2020-01-03,1234.264282,1502.309692,190.506256,1268.400024,1522.716187,191.100006,1285.000000,1527.173950,195.649994,1263.599976,1508.699097,189.250000,1282.199951,1518.605103,192.899994,5427775.0,9684434.0,47572728.0
5,2020-01-06,1207.552856,1467.467651,185.073181,1240.949951,1487.400879,185.649994,1261.800049,1513.552979,191.000000,1236.000000,1483.933838,185.050003,1260.000000,1505.727173,191.000000,5445093.0,11315596.0,28621212.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,2023-04-27,1661.941040,2368.682861,480.103668,1681.000000,2377.050049,481.600006,1685.250000,2384.000000,482.000000,1665.849976,2364.000000,476.500000,1670.500000,2375.000000,478.500000,23895196.0,4230627.0,7085793.0
827,2023-04-28,1668.466187,2411.979736,483.443268,1687.599976,2420.500000,484.950012,1691.000000,2423.899902,488.000000,1670.000000,2381.750000,478.350006,1684.699951,2382.000000,481.399994,13958136.0,7183342.0,9947813.0
828,2023-05-02,1668.120117,2432.457520,478.757843,1687.250000,2441.050049,480.250000,1699.000000,2445.800049,484.000000,1682.000000,2428.100098,474.549988,1688.699951,2436.199951,482.500000,16110592.0,5991101.0,11542592.0
829,2023-05-03,1673.953247,2411.581299,482.197144,1693.150024,2420.100098,483.700012,1696.000000,2445.000000,485.100006,1679.650024,2413.050049,477.750000,1684.949951,2445.000000,480.250000,14703635.0,3259053.0,8529233.0
830,2023-05-04,1708.210449,2439.383057,479.306122,1727.800049,2448.000000,480.799988,1734.449951,2452.850098,486.399994,1687.099976,2414.600098,478.750000,1687.099976,2421.149902,483.600006,28427319.0,3985159.0,5650101.0

In [28]:
stocks.columns

MultiIndex([( 'Unnamed: 0', 'Unnamed: 1_level_1'),
            (  'Adj Close',        'HDFCBANK.NS'),
            ('Adj Close.1',        'RELIANCE.NS'),
            ('Adj Close.2',      'TATAMOTORS.NS'),
            (      'Close',        'HDFCBANK.NS'),
            (    'Close.1',        'RELIANCE.NS'),
            (    'Close.2',      'TATAMOTORS.NS'),
            (       'High',        'HDFCBANK.NS'),
            (     'High.1',        'RELIANCE.NS'),
            (     'High.2',      'TATAMOTORS.NS'),
            (        'Low',        'HDFCBANK.NS'),
            (      'Low.1',        'RELIANCE.NS'),
            (      'Low.2',      'TATAMOTORS.NS'),
            (       'Open',        'HDFCBANK.NS'),
            (     'Open.1',        'RELIANCE.NS'),
            (     'Open.2',      'TATAMOTORS.NS'),
            (     'Volume',        'HDFCBANK.NS'),
            (   'Volume.1',        'RELIANCE.NS'),
            (   'Volume.2',      'TATAMOTORS.NS')],
           )

In [29]:
 stocks = pd.read_csv("stocks.csv",header=[0,1])
stocks

,Unnamed: 0_level_0,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
,0,Unnamed: 1_level_1,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS
0,1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2020-01-01,1244.189819,1475.384033,183.876907,1278.599976,1495.424927,184.449997,1280.000000,1512.760498,186.699997,1270.599976,1491.363403,183.600006,1276.099976,1503.745972,185.149994,1836849.0,6463060.0,25968357.0
2,3,2020-01-02,1252.120361,1500.501587,193.148010,1286.750000,1520.883545,193.750000,1288.000000,1526.480469,194.699997,1279.000000,1497.802368,184.600006,1279.000000,1497.802368,185.000000,3068583.0,8173308.0,57289863.0
3,4,2020-01-03,1234.264282,1502.309692,190.506256,1268.400024,1522.716187,191.100006,1285.000000,1527.173950,195.649994,1263.599976,1508.699097,189.250000,1282.199951,1518.605103,192.899994,5427775.0,9684434.0,47572728.0
4,5,2020-01-06,1207.552856,1467.467651,185.073181,1240.949951,1487.400879,185.649994,1261.800049,1513.552979,191.000000,1236.000000,1483.933838,185.050003,1260.000000,1505.727173,191.000000,5445093.0,11315596.0,28621212.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,826,2023-04-27,1661.941040,2368.682861,480.103668,1681.000000,2377.050049,481.600006,1685.250000,2384.000000,482.000000,1665.849976,2364.000000,476.500000,1670.500000,2375.000000,478.500000,23895196.0,4230627.0,7085793.0
826,827,2023-04-28,1668.466187,2411.979736,483.443268,1687.599976,2420.500000,484.950012,1691.000000,2423.899902,488.000000,1670.000000,2381.750000,478.350006,1684.699951,2382.000000,481.399994,13958136.0,7183342.0,9947813.0
827,828,2023-05-02,1668.120117,2432.457520,478.757843,1687.250000,2441.050049,480.250000,1699.000000,2445.800049,484.000000,1682.000000,2428.100098,474.549988,1688.699951,2436.199951,482.500000,16110592.0,5991101.0,11542592.0
828,829,2023-05-03,1673.953247,2411.581299,482.197144,1693.150024,2420.100098,483.700012,1696.000000,2445.000000,485.100006,1679.650024,2413.050049,477.750000,1684.949951,2445.000000,480.250000,14703635.0,3259053.0,8529233.0
829,830,2023-05-04,1708.210449,2439.383057,479.306122,1727.800049,2448.000000,480.799988,1734.449951,2452.850098,486.399994,1687.099976,2414.600098,478.750000,1687.099976,2421.149902,483.600006,28427319.0,3985159.0,5650101.0

In [31]:
 stocks = pd.read_csv("stocks.csv")
stocks

,Unnamed: 0.1,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
0,0,NaN,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS
1,1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020-01-01,1244.1898193359375,1475.384033203125,183.8769073486328,1278.5999755859375,1495.4249267578125,184.4499969482422,1280.0,1512.760498046875,186.6999969482422,1270.5999755859375,1491.3634033203125,183.60000610351562,1276.0999755859375,1503.7459716796875,185.14999389648438,1836849,6463060,25968357
3,3,2020-01-02,1252.120361328125,1500.5015869140625,193.14801025390625,1286.75,1520.883544921875,193.75,1288.0,1526.48046875,194.6999969482422,1279.0,1497.8023681640625,184.60000610351562,1279.0,1497.8023681640625,185.0,3068583,8173308,57289863
4,4,2020-01-03,1234.2642822265625,1502.3096923828125,190.50625610351562,1268.4000244140625,1522.7161865234375,191.10000610351562,1285.0,1527.1739501953125,195.64999389648438,1263.5999755859375,1508.6990966796875,189.25,1282.199951171875,1518.6051025390625,192.89999389648438,5427775,9684434,47572728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
826,826,2023-04-27,1661.9410400390625,2368.682861328125,480.1036682128906,1681.0,2377.050048828125,481.6000061035156,1685.25,2384.0,482.0,1665.8499755859375,2364.0,476.5,1670.5,2375.0,478.5,23895196,4230627,7085793
827,827,2023-04-28,1668.4661865234375,2411.979736328125,483.4432678222656,1687.5999755859375,2420.5,484.95001220703125,1691.0,2423.89990234375,488.0,1670.0,2381.75,478.3500061035156,1684.699951171875,2382.0,481.3999938964844,13958136,7183342,9947813
828,828,2023-05-02,1668.1201171875,2432.45751953125,478.7578430175781,1687.25,2441.050048828125,480.25,1699.0,2445.800048828125,484.0,1682.0,2428.10009765625,474.54998779296875,1688.699951171875,2436.199951171875,482.5,16110592,5991101,11542592
829,829,2023-05-03,1673.9532470703125,2411.581298828125,482.1971435546875,1693.1500244140625,2420.10009765625,483.70001220703125,1696.0,2445.0,485.1000061035156,1679.6500244140625,2413.050048828125,477.75,1684.949951171875,2445.0,480.25,14703635,3259053,8529233
830,830,2023-05-04,1708.21044921875,2439.383056640625,479.3061218261719,1727.800048828125,2448.0,480.79998779296875,1734.449951171875,2452.85009765625,486.3999938964844,1687.0999755859375,2414.60009765625,478.75,1687.0999755859375,2421.14990234375,483.6000061035156,28427319,3985159,5650101

In [32]:
 stocks = pd.read_csv("stocks.csv",header=[0,1])
stocks

,Unnamed: 0_level_0,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
,0,Unnamed: 1_level_1,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS
0,1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2020-01-01,1244.189819,1475.384033,183.876907,1278.599976,1495.424927,184.449997,1280.000000,1512.760498,186.699997,1270.599976,1491.363403,183.600006,1276.099976,1503.745972,185.149994,1836849.0,6463060.0,25968357.0
2,3,2020-01-02,1252.120361,1500.501587,193.148010,1286.750000,1520.883545,193.750000,1288.000000,1526.480469,194.699997,1279.000000,1497.802368,184.600006,1279.000000,1497.802368,185.000000,3068583.0,8173308.0,57289863.0
3,4,2020-01-03,1234.264282,1502.309692,190.506256,1268.400024,1522.716187,191.100006,1285.000000,1527.173950,195.649994,1263.599976,1508.699097,189.250000,1282.199951,1518.605103,192.899994,5427775.0,9684434.0,47572728.0
4,5,2020-01-06,1207.552856,1467.467651,185.073181,1240.949951,1487.400879,185.649994,1261.800049,1513.552979,191.000000,1236.000000,1483.933838,185.050003,1260.000000,1505.727173,191.000000,5445093.0,11315596.0,28621212.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
825,826,2023-04-27,1661.941040,2368.682861,480.103668,1681.000000,2377.050049,481.600006,1685.250000,2384.000000,482.000000,1665.849976,2364.000000,476.500000,1670.500000,2375.000000,478.500000,23895196.0,4230627.0,7085793.0
826,827,2023-04-28,1668.466187,2411.979736,483.443268,1687.599976,2420.500000,484.950012,1691.000000,2423.899902,488.000000,1670.000000,2381.750000,478.350006,1684.699951,2382.000000,481.399994,13958136.0,7183342.0,9947813.0
827,828,2023-05-02,1668.120117,2432.457520,478.757843,1687.250000,2441.050049,480.250000,1699.000000,2445.800049,484.000000,1682.000000,2428.100098,474.549988,1688.699951,2436.199951,482.500000,16110592.0,5991101.0,11542592.0
828,829,2023-05-03,1673.953247,2411.581299,482.197144,1693.150024,2420.100098,483.700012,1696.000000,2445.000000,485.100006,1679.650024,2413.050049,477.750000,1684.949951,2445.000000,480.250000,14703635.0,3259053.0,8529233.0
829,830,2023-05-04,1708.210449,2439.383057,479.306122,1727.800049,2448.000000,480.799988,1734.449951,2452.850098,486.399994,1687.099976,2414.600098,478.750000,1687.099976,2421.149902,483.600006,28427319.0,3985159.0,5650101.0

In [33]:
stocks.head()

,Unnamed: 0_level_0,Unnamed: 0,Adj Close,Adj Close.1,Adj Close.2,Close,Close.1,Close.2,High,High.1,High.2,Low,Low.1,Low.2,Open,Open.1,Open.2,Volume,Volume.1,Volume.2
,0,Unnamed: 1_level_1,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS,HDFCBANK.NS,RELIANCE.NS,TATAMOTORS.NS
0,1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2020-01-01,1244.189819,1475.384033,183.876907,1278.599976,1495.424927,184.449997,1280.000000,1512.760498,186.699997,1270.599976,1491.363403,183.600006,1276.099976,1503.745972,185.149994,1836849.0,6463060.0,25968357.0
2,3,2020-01-02,1252.120361,1500.501587,193.148010,1286.750000,1520.883545,193.750000,1288.000000,1526.480469,194.699997,1279.000000,1497.802368,184.600006,1279.000000,1497.802368,185.000000,3068583.0,8173308.0,57289863.0
3,4,2020-01-03,1234.264282,1502.309692,190.506256,1268.400024,1522.716187,191.100006,1285.000000,1527.173950,195.649994,1263.599976,1508.699097,189.250000,1282.199951,1518.605103,192.899994,5427775.0,9684434.0,47572728.0
4,5,2020-01-06,1207.552856,1467.467651,185.073181,1240.949951,1487.400879,185.649994,1261.800049,1513.552979,191.000000,1236.000000,1483.933838,185.050003,1260.000000,1505.727173,191.000000,5445093.0,11315596.0,28621212.0

In [4]:
stocks

NameError: name 'stocks' is not defined

In [18]:
stocks

              Adj Close                                   Close               \
            HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS
Date
2010-01-04   153.989578   481.112976    152.664978   170.570007   532.700500
2010-01-05   154.124985   478.965759    150.004959   170.720001   530.323059
2010-01-06   154.228821   486.704712    150.235855   170.835007   538.891846
2010-01-07   154.630539   494.779205    145.100525   171.279999   547.832092
2010-01-08   154.833694   493.481842    145.894867   171.505005   546.395691
...                 ...          ...           ...          ...          ...
2023-04-27  1661.941040  2368.682861    480.103668  1681.000000  2377.050049
2023-04-28  1668.466187  2411.979736    483.443268  1687.599976  2420.500000
2023-05-02  1668.120117  2432.457520    478.757843  1687.250000  2441.050049
2023-05-03  1673.953247  2411.581299    482.197144  1693.150024  2420.100098
2023-05-04  1708.210449  2439.383057    479.306122  1727.800049  2448.000000

                                 High                                     Low  \
           TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
Date
2010-01-04    163.535919   172.850006   540.427307    164.040497   169.255005
2010-01-05    160.686478   172.500000   569.551208    167.147186   170.500000
2010-01-06    160.933823   172.000000   542.111328    162.932388   168.809998
2010-01-07    155.432831   176.839996   552.265076    161.923218   170.160004
2010-01-08    156.283707   172.339996   551.670715    159.251862   170.100006
...                  ...          ...          ...           ...          ...
2023-04-27    481.600006  1685.250000  2384.000000    482.000000  1665.849976
2023-04-28    484.950012  1691.000000  2423.899902    488.000000  1670.000000
2023-05-02    480.250000  1699.000000  2445.800049    484.000000  1682.000000
2023-05-03    483.700012  1696.000000  2445.000000    485.100006  1679.650024
2023-05-04    480.799988  1734.449951  2452.850098    486.399994  1687.099976

                                              Open                             \
            RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS
Date
2010-01-04   506.127411    156.184769   170.000000   540.427307    156.303482
2010-01-05   527.697937    153.246277   171.000000   569.551208    162.259598
2010-01-06   530.298279    159.311234   171.399994   534.879883    162.200241
2010-01-07   533.938782    154.344498   176.839996   538.891846    161.171280
2010-01-08   542.854309    155.343781   171.199997   548.797974    156.323273
...                 ...           ...          ...          ...           ...
2023-04-27  2364.000000    476.500000  1670.500000  2375.000000    478.500000
2023-04-28  2381.750000    478.350006  1684.699951  2382.000000    481.399994
2023-05-02  2428.100098    474.549988  1688.699951  2436.199951    482.500000
2023-05-03  2413.050049    477.750000  1684.949951  2445.000000    480.250000
2023-05-04  2414.600098    478.750000  1687.099976  2421.149902    483.600006

                Volume
           HDFCBANK.NS RELIANCE.NS TATAMOTORS.NS
Date
2010-01-04     3050490    35372156      27906448
2010-01-05     8386600     9872785      23669317
2010-01-06     6639840    10933743      14990820
2010-01-07     6123980    12090336      22722030
2010-01-08     7085900     6973331      16495776
...                ...         ...           ...
2023-04-27    23895196     4230627       7085793
2023-04-28    13958136     7183342       9947813
2023-05-02    16110592     5991101      11542592
2023-05-03    14703635     3259053       8529233
2023-05-04    28427319     3985159       5650101

[3291 rows x 18 columns]

In [19]:
stocks.describe()

         Adj Close                                   Close               \
       HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS
count  3291.000000  3291.000000   3291.000000  3291.000000  3291.000000
mean    735.007617   991.497395    315.187763   763.379532  1015.762196
std     467.895651   754.966868    129.304315   471.246706   749.497244
min     141.503937   307.102234     65.097115   156.740005   334.875702
25%     301.025940   422.961731    192.624641   324.899994   449.662659
50%     573.962280   499.212219    307.167877   602.599976   531.487061
75%    1105.073059  1403.476746    426.720032  1143.474976  1422.540771
max    1708.210449  2801.489502    596.034607  1727.800049  2819.850098

                            High                                     Low  \
      TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS
count   3291.000000  3291.000000  3291.000000   3291.000000  3291.000000
mean     318.262172   770.628837  1028.001871    323.314170   755.716564
std      128.241741   475.512048   758.047780    129.600880   466.924036
min       65.300003   157.789993   338.194244     66.900002   154.899994
25%      199.980011   328.062500   454.665237    202.809662   320.362503
50%      309.750000   606.000000   537.405945    314.922150   597.549988
75%      428.149994  1153.549988  1447.461853    434.950012  1133.750000
max      598.134399  1734.449951  2856.149902    605.901123  1687.099976

                                         Open                             \
       RELIANCE.NS TATAMOTORS.NS  HDFCBANK.NS  RELIANCE.NS TATAMOTORS.NS
count  3291.000000   3291.000000  3291.000000  3291.000000   3291.000000
mean   1004.618594    313.609067   763.450870  1016.712607    318.734896
std     741.547978    127.045444   471.318009   750.183690    128.496029
min     333.365021     63.500000   156.679993   334.330872     66.500000
25%     444.288574    197.000000   324.649994   449.514053    199.782135
50%     525.518616    305.500000   601.900024   531.957581    309.799988
75%    1413.444153    423.574997  1142.974976  1431.166199    428.949997
max    2786.100098    589.873047  1720.000000  2856.149902    600.212097

             Volume
        HDFCBANK.NS   RELIANCE.NS TATAMOTORS.NS
count  3.291000e+03  3.291000e+03  3.291000e+03
mean   6.500774e+06  8.542293e+06  2.043106e+07
std    6.013815e+06  5.875894e+06  2.678633e+07
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    3.222313e+06  5.243278e+06  6.931236e+06
50%    5.230907e+06  7.027122e+06  1.148192e+07
75%    7.864513e+06  9.793324e+06  2.157058e+07
max    2.011300e+08  8.706178e+07  3.905778e+08

In [20]:
stocks.loc[:,"Close"]

            HDFCBANK.NS  RELIANCE.NS  TATAMOTORS.NS
Date
2010-01-04   170.570007   532.700500     163.535919
2010-01-05   170.720001   530.323059     160.686478
2010-01-06   170.835007   538.891846     160.933823
2010-01-07   171.279999   547.832092     155.432831
2010-01-08   171.505005   546.395691     156.283707
...                 ...          ...            ...
2023-04-27  1681.000000  2377.050049     481.600006
2023-04-28  1687.599976  2420.500000     484.950012
2023-05-02  1687.250000  2441.050049     480.250000
2023-05-03  1693.150024  2420.100098     483.700012
2023-05-04  1727.800049  2448.000000     480.799988

[3291 rows x 3 columns]

In [23]:
Close=stocks.loc[:,"Close"].copy()

In [25]:
Close

            HDFCBANK.NS  RELIANCE.NS  TATAMOTORS.NS
Date
2010-01-04   170.570007   532.700500     163.535919
2010-01-05   170.720001   530.323059     160.686478
2010-01-06   170.835007   538.891846     160.933823
2010-01-07   171.279999   547.832092     155.432831
2010-01-08   171.505005   546.395691     156.283707
...                 ...          ...            ...
2023-04-27  1681.000000  2377.050049     481.600006
2023-04-28  1687.599976  2420.500000     484.950012
2023-05-02  1687.250000  2441.050049     480.250000
2023-05-03  1693.150024  2420.100098     483.700012
2023-05-04  1727.800049  2448.000000     480.799988

[3291 rows x 3 columns]